.computer {
  background-image: url('/images/computer.svg');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
  background-position: 50% 120%;
  height: 1rem;
  width: 1rem; 
  border-radius: 0rem;
}
.fa-bilibili {
  background-image: url('/images/bilibili-line.svg');
  background-position: 50% 75%;
  background-repeat: no-repeat;
  height: 1rem;
  width: 1rem;
}
